@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div style="background-color:#283742;color:#fff;margin:50px 0" class="col-md-12 text-center">
    <h3 style="margin:30px 0;">Tentang Kami</h3>
    <img style="border-radius:50%" src="~/images/profil.png" alt="Alternate Text" />
    <p style="padding:0 40px;margin:30px 0;">Website ini dibangun sebagai sarana atau media informasi dan komunikasi organisasi osis,
        karena sejalan dengan perkembangan teknologi industri 4.0 yang berguna untuk memudahkan
        mencari informasi tentang SMPN 1. Kualitas layanan menjadi salah satu misi sekolah dan
        kaitannya dengan transparansi dan akuntabilitas sekolah.<br />
        Wassalamu'alaikum Warohmatullahi Wabarokatuh
    </p>
</div>